*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--navbar style start--*/
.navbar-brand{
    width: 100px;
    height: 80px;
    line-height: 60px;
}
 .nav_style{
    background: #f0fff0;
    box-shadow: 0 10px 30px 0 rgba(34, 48, 56, 0.15);
    padding-bottom:60px;
    

}
.right{
    float: right; 
    
}

.navbar-nav li a{
    font-size: 16px;
    letter-spacing: 2px;
    position: relative;
    color: #000000;
    line-height: 24px;
} 

.navbar-nav li a:before{
    content:"";
    width:0% ;
    bottom: 20%;
    height: 3%;
    background: #b3b8b3;
    position: absolute;
    transition: all 0.3s linear;

}

.navbar-nav li a:hover:before{
    width: 80%;

}

@media(max-width:998px){
    .navbar-nav{
        text-align: center;
        
    }
    .navbar-nav li a:hover:before{
        width: 0%;
    }
    .navbar-nav li a :last-child(width: 0;)
    
}
.signin-btn{
    border: 1px solid #f0fff0;
    border-radius: 25px;
    padding: 0 5px;
}


/*--navbar style end-*/

/*--banner style start-*/
.banner-style{
    background: #f0fff0;
    padding-bottom: 50px;
}
.para-1{
    color: #FD511A;
    ;
}
.span-1{
    color:#21B573;
    
}
.para-2{
    
width: 405px;
height: 140px;
font-weight: bold;
font-size: 48px;
line-height: 70px;
}
.para-3{

width: 403px;
height: 85px;
font-size: 16px;
line-height: 36px;
}

.start-btn{
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 36px;
width: 153px;
height: 43px;
background: #21B573;
border-radius: 33px;
font-size: 16px;

color: #ffffff;
}
@media(max-width:1100px){
    .banner-img{
        margin-top: 80px;
    }
}
/*--banner style end-*/

/*--service style start-*/
.service-style{
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 50px;

    
}
.same-div{
    width: 270px;
    height: 270px;
    background: #F8FFFB;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
.same-div:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
@media(max-width:1250px){
    .same-div{
        margin: 20px;
    }
}

.img-div{
    width: 66px;
    height: 85px;
}
.img-div img{
    width: 100%;
}

.text-div h3{  
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 30px;
}

.text-div p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}


/*--service style end-*/

/*--course style start*/

.course-style{
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 50px;
}

.course-div{
width: 370px;
height: 483px;
background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 18px;
}

.course-div img{
    width: 341px;
    height: 234px;
    border-radius: 11px;
    margin:15px;
}
.course-text{
    margin-left: 15px;
}
.course-text h4{
    color:#413960;
}
.course-text h6{
margin: 15px 0px;
}

@media(max-width:1250px){
    .course-div{
        margin-bottom: 20px;
    }
}
.buy-btn{
    background: #21B573;
    border-radius: 33px;
    margin-bottom: 40px;
}
.cart-footer{
display: flex;
justify-content: space-between;
}

.icon{
    width: 30px;
}


/*--course style end*/

/*--testimonial style start*/
.testimonial-section{
    background: #ffffff;
    margin-bottom: 60px;
}

.testimonial-section img {
    width: 120px;
    margin-left:130px;
}
    .testimonial-title h1 {
        font-weight: 700;
        text-align: center;
        font-size: 36px;
        margin: 40px 0px;
    }
    .testimonial-text{
        font-size: 16px;
        margin-left: -120px;
    }
    @media(max-width:855px){
        .testimonial-text{
            margin-left:20px;
            margin-top: 15px;
        }
    }
/*--testimonial style end*/

/*--footer style end*/
.footer{
    background:  #282531;
    padding-top: 50px;
    color: rgb(231, 223, 223);

}

.footer-div{
    
    display: inline-block;
    text-align: left;
    margin-right: 100px;
}

.footer-div ul{
    list-style: none;
}
 .footer-div ul li a {
    list-style: none;
    font-size: 16px;
    color: rgb(110, 107, 107);
    text-decoration: none;

}
.copyright{
    margin: 60px 0 30px 0;
}

/*--footer style end*/


  
    